{% extends 'club_admin/admin_base.html' %}
{% load static %}
{% block content_right %}
    <div class="page-content">
        <div class="page-body">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'club_admin:index' %}">首页</a>
                    </li>
                    <li class="active">操作</li>
                    <li class="active">新建社团</li>

                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            {#                            <span class="widget-caption">新增规则</span>#}
                        </div>
                        <div class="widget-body">
                            <div id="horizontal-form">
                                <form class="form-horizontal" role="form" action="{% url 'club_admin:add_club' %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="title" class="col-sm-2 control-label no-padding-right">社团名称</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="title" placeholder="请填写新增社团名称"
                                                   name="club_name" value="" required="" type="text">
                                        </div>
                                        <p class="help-block col-sm-4 red">* 必填</p>
                                    </div>
                                    {#                        <div class="form-group">#}
                                    {#                            <label for="pid" class="col-sm-2 control-label no-padding-right">上级菜单</label>#}
                                    {#                            <div class="col-sm-6">#}
                                    {#                                <select name="pid" style="width: 100%;">#}
                                    {#                                    <option selected="selected" value="0">一级菜单</option>#}
                                    {#                                                                        <option value="1">控制面板</option>#}
                                    {#                                                                        <option value="19">文档</option>#}
                                    {#                                                                        <option value="20">——文章列表</option>#}
                                    {#                                                                        <option value="2">系统</option>#}
                                    {#                                                                        <option value="13">——用户管理</option>#}
                                    {#                                                                        <option value="3">——角色管理</option>#}
                                    {#                                                                        <option value="4">——权限列表</option>#}
                                    {#                                                                    </select>#}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                    {% if add_club_success %}
                                        <div class="form-group">
                                            <label for="pid" class="col-sm-2 control-label no-padding-right"></label>

                                            <p class="help-block col-sm-4 red"
                                               style="text-align: left">{{ add_club_success_message }}</p>
                                        </div>


                                    {% endif %}
                                    {% if add_club_error %}
                                        <div class="form-group">
                                            <label for="pid" class="col-sm-2 control-label no-padding-right"></label>

                                            <p class="help-block col-sm-4 red"
                                               style="text-align: left">{{ add_club_error_message }}</p>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default"
                                                    style="background-color: red; color: white">添加社团
                                            </button>
                                            <button type="submit" style="cursor:pointer" class="btn btn-default"
                                                    onclick="history.back()">返回上一步
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
