{% extends 'club/club_base.html' %}
{% load static %}


{% block content_right %}
    <div class="page-container">
        <div class="page-content">
            <!-- Page Breadcrumb -->

            <!-- /Page Breadcrumb -->
            <div class="page-body">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
{#                            <a href="{% url 'club:index' %}">首页</a>#}
                            <a href="#">首页</a>
                        </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <div style="text-align:center; line-height:1000%; font-size:24px;">
                    周口师范学院学生社团管理系统<br>
                    <p style="color:#f00;">黄治文的毕业设计</p></div>
            </div>

        </div>
        <!-- /Page Body -->
    </div>

{% endblock %}
