{% extends 'club/club_base.html' %}
{% load static %}
{% block content_right %}
    <div class="page-content">
        <div class="page-body">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'club:index' %}">首页</a>
                    </li>
                    <li class="active">所有社团</li>
                    <li class="active">{{ join_club.name }}</li>
                    <li class="active">查看社员信息</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-blue">
                            {#                            <span class="widget-caption">新增规则</span>#}
                        </div>
                        <div class="widget-body">
                            <div id="horizontal-form">
                                <form class="form-horizontal" role="form" action="" method="post">


                                    <div class="form-group">
                                        <label for="pid" class="col-sm-2 control-label no-padding-right">学号</label>
                                        <div class="col-sm-6">
                                            <input readonly="readonly" class="form-control"
                                                   value="{{ club_member.sid }}" id="name" placeholder="" name="name"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pid" class="col-sm-2 control-label no-padding-right">姓名</label>
                                        <div class="col-sm-6">
                                            <input readonly="readonly" class="form-control"
                                                   value="{{ club_member.name }}" id="name" placeholder="" name="name"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pid" class="col-sm-2 control-label no-padding-right">手机</label>
                                        <div class="col-sm-6">
                                            <input readonly="readonly" class="form-control"
                                                   value="{% if not club_member.phone %}暂未填写 {% else %}{{ club_member.qq }}{% endif %}" id="name" placeholder="" name="name"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="pid" class="col-sm-2 control-label no-padding-right">QQ</label>
                                        <div class="col-sm-6">
                                            <input readonly="readonly" class="form-control"
                                                   value="{% if not club_member.qq %}暂未填写 {% else %}{{ club_member.qq }}{% endif %}"
                                                   id="name" placeholder="" name="name"
                                                   type="text">
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" style="cursor:pointer" class="btn btn-default" onclick="history.back()">返回上一步</button>
{#                                            <button><a style="cursor:pointer" onclick="history.back()">返回上一步</a></button>#}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
